<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airplane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,3725},{374,350}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,50},{374,350}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane1_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3634,411},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane1_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{3634,813},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,3717},{342,280}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,44},{342,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane2_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3624,2823},{400,388}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane2_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,3213},{400,388}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane3_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,3213},{400,342}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{400,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane3_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,3717},{400,342}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{400,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,3735},{390,350}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{390,350}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane4_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3624,1215},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane4_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{3624,1617},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3624,2019},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>airplane_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{3624,2421},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,3180},{88,146}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{88,146}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,3270},{88,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{88,146}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>battle_deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{2026,147}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{2026,147}}</string>
                <key>sourceSize</key>
                <string>{2048,147}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,151},{1580,930}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{1580,930}}</string>
                <key>sourceSize</key>
                <string>{1600,1000}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,3615},{394,100}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,11},{394,100}}</string>
                <key>sourceSize</key>
                <string>{520,120}</string>
            </dict>
            <key>button_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,3615},{394,100}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,11},{394,100}}</string>
                <key>sourceSize</key>
                <string>{520,120}</string>
            </dict>
            <key>button_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{4080,2},{1,1}}</string>
                <key>offset</key>
                <string>{-259.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{520,120}</string>
            </dict>
            <key>button_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,3213},{520,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,120}}</string>
                <key>sourceSize</key>
                <string>{520,120}</string>
            </dict>
            <key>button_red_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,3213},{520,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,120}}</string>
                <key>sourceSize</key>
                <string>{520,120}</string>
            </dict>
            <key>button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,3078},{394,100}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,11},{394,100}}</string>
                <key>sourceSize</key>
                <string>{520,120}</string>
            </dict>
            <key>charlie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,3078},{128,82}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{128,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>charlie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,3078},{128,82}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{128,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,3615},{108,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{108,86}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>craft_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3133},{898,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,141}}</string>
                <key>sourceSize</key>
                <string>{898,141}</string>
            </dict>
            <key>craft_info_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,3133},{898,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,141}}</string>
                <key>sourceSize</key>
                <string>{898,141}</string>
            </dict>
            <key>deck_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,3213},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_dragon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,3682},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_miles.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,3350},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_miles_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2062,3672},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_munch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2330,3213},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_munch_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2384,3615},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_neville.png</key>
            <dict>
                <key>frame</key>
                <string>{{2652,3213},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_neville_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2706,3615},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_phoenix.png</key>
            <dict>
                <key>frame</key>
                <string>{{2974,3213},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_phoenix_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3296,3133},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_quirk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3618,3213},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_quirk_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3028,3615},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_zap.png</key>
            <dict>
                <key>frame</key>
                <string>{{3350,3535},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>deck_zap_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3672,3535},{320,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>dragon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4036,845},{128,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{128,52}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>dragon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4036,975},{128,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{128,52}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>gamewin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1083},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>miles1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,3133},{118,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{118,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miles2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,3133},{118,74}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{118,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>monstertype_melee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,3133},{70,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{70,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>monstertype_meleeaoe.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,3133},{70,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>monstertype_range.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,3133},{70,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>munch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,3582},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>munch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,3582},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>neville1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,3078},{128,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>neville2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,3078},{128,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,3133},{78,80}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,26},{78,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>phoenix1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,3615},{108,84}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{108,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>phoenix2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,3615},{108,84}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{108,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>potentio.png</key>
            <dict>
                <key>frame</key>
                <string>{{4080,2},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>potentio_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{4044,151},{46,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{46,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>potentio_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{4026,1705},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>quirk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,3615},{98,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{98,80}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>quirk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,3582},{98,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{98,80}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>selection.png</key>
            <dict>
                <key>frame</key>
                <string>{{4070,1105},{128,24}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,104},{128,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,3360},{256,220}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{256,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shortcut_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,3078},{270,298}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{270,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{4044,197},{592,44}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{592,44}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>slide_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{4036,791},{52,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{52,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>slide_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{4036,1105},{598,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{598,32}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>slide_sel_darkred.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,1083},{598,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{598,32}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>slide_sel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,1683},{598,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{598,32}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>slide_sel_lightblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{4026,1767},{598,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{598,32}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>slide_sel_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,2283},{598,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{598,32}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>slide_sel_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{4060,1767},{598,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{598,32}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>slide_sel_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{4026,2367},{598,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{598,32}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>spawn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2050,3133},{254,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,145}}</string>
                <key>sourceSize</key>
                <string>{256,147}</string>
            </dict>
            <key>spawn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3350,3937},{254,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,145}}</string>
                <key>sourceSize</key>
                <string>{256,147}</string>
            </dict>
            <key>startbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3634,151},{408,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,128}}</string>
                <key>sourceSize</key>
                <string>{408,128}</string>
            </dict>
            <key>startbutton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3634,281},{408,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,128}}</string>
                <key>sourceSize</key>
                <string>{408,128}</string>
            </dict>
            <key>zap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,3078},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>zap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,3078},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b33ff81fa3bf024fc28ee98e268362ee:1/3$</string>
            <key>textureFileName</key>
            <string>Sprites1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
