<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airplane.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,3624},{192,156}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{192,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,3782},{188,176}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{188,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane1_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,210},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane1_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,412},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,3760},{172,140}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{172,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane2_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1422},{200,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane2_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1618},{200,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,3934},{190,138}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{190,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane3_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1814},{200,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{200,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane3_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1988},{200,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{200,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,3782},{196,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{196,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane4_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,614},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane4_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,816},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1018},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>airplane_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1220},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1906},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,80}</string>
            </dict>
            <key>arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1982},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,80}</string>
            </dict>
            <key>background_comet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>background_earth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,546},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>background_universe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>background_universe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>battle_deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{1014,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{1014,74}}</string>
                <key>sourceSize</key>
                <string>{1024,74}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,78},{790,466}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{790,466}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,3782},{198,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{198,52}}</string>
                <key>sourceSize</key>
                <string>{260,60}</string>
            </dict>
            <key>button_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,3782},{198,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{198,52}}</string>
                <key>sourceSize</key>
                <string>{260,60}</string>
            </dict>
            <key>button_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{1,1}}</string>
                <key>offset</key>
                <string>{-129.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{260,60}</string>
            </dict>
            <key>button_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,3782},{260,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,60}}</string>
                <key>sourceSize</key>
                <string>{260,60}</string>
            </dict>
            <key>button_red_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,3782},{260,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,60}}</string>
                <key>sourceSize</key>
                <string>{260,60}</string>
            </dict>
            <key>button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,3782},{198,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{198,52}}</string>
                <key>sourceSize</key>
                <string>{260,60}</string>
            </dict>
            <key>charlie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2114},{64,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>charlie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2180},{64,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2058},{54,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,43}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>craft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1572},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>craft_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,3624},{449,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,71}}</string>
                <key>sourceSize</key>
                <string>{449,71}</string>
            </dict>
            <key>craft_info_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,3624},{449,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,71}}</string>
                <key>sourceSize</key>
                <string>{449,71}</string>
            </dict>
            <key>deck_charlie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2162},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_charlie_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2324},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2486},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_dragon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2648},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_miles.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2810},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_miles_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3852},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_munch.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,3852},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_munch_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,3852},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_neville.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,3852},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_neville_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,3852},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_phoenix.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,3852},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_phoenix_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2972},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_quirk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,3134},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_quirk_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,3296},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_zap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,3458},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>deck_zap_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,3620},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>dragon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,730},{64,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>dragon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,796},{64,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2312},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>gamewin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2598},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3082},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>miles1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2636},{60,38}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{60,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>miles2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2698},{60,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{60,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>monstertype_melee.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2836},{36,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>monstertype_meleeaoe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2760},{36,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>monstertype_range.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2798},{36,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>munch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1814},{46,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{46,44}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>munch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1860},{46,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{46,44}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>neville1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2358},{64,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,41}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>neville2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2424},{64,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,41}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2594},{40,40}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{40,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>phoenix1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2246},{54,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{54,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>phoenix2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2302},{54,42}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{54,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>potentio.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>potentio_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,380},{24,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>potentio_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2874},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>quirk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2490},{50,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{50,40}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>quirk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2542},{50,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,40}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>selection.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,1466},{64,12}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{64,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,3982},{128,110}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{128,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shortcut_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,3624},{136,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shortcut_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,3624},{134,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shortcut_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,3624},{134,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,404},{296,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{296,22}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,702},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>slide_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,78},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_darkred.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,546},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,848},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_lightblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,862},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1150},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,1164},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1452},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>spawn.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,4014},{128,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,74}}</string>
                <key>sourceSize</key>
                <string>{128,74}</string>
            </dict>
            <key>spawn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,3982},{128,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,74}}</string>
                <key>sourceSize</key>
                <string>{128,74}</string>
            </dict>
            <key>startbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,78},{204,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,64}}</string>
                <key>sourceSize</key>
                <string>{204,64}</string>
            </dict>
            <key>startbutton_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,144},{204,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,64}}</string>
                <key>sourceSize</key>
                <string>{204,64}</string>
            </dict>
            <key>zap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,4014},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>zap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,4044},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites1-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da360f9724d709c1a89eaef4f54c2bee:1/1$</string>
            <key>textureFileName</key>
            <string>Sprites1-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
